@charset "UTF-8";
main {
  z-index: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .header_contactsBlock {
  width: 100%;
  background-color: black;
  padding: 10px 0;
  position: relative;
}
header .header_contactsBlock::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: white;
}
header .header_contactsBlock .contactsBlock_content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  max-width: 470px;
  min-width: 440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod .communicationMethod_Elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod .communicationMethod_Elem img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod .communicationMethod_Elem p {
  font-size: calc(18px + 0.1046025105vw);
  color: white;
}
header .header_contactsBlock .contactsBlock_content .communicationMethod_socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14%;
  max-width: 250px;
  min-width: 193px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_contactsBlock .contactsBlock_content .communicationMethod_socialMedia p {
  font-size: calc(18px + 0.1068376068vw);
  color: white;
}
header .header_contactsBlock .contactsBlock_content .communicationMethod_socialMedia .socialMedia_variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
}
header .header_contactsBlock .contactsBlock_content .communicationMethod_socialMedia .socialMedia_variants img {
  width: 40px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .navigationBlock {
  width: 100%;
  background-color: #1a1a1a;
  height: auto;
  padding: 20px 0;
}
header .navigationBlock .navigationBlock_content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation a {
  font-size: calc(20px + 0.2092050209vw);
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation a:hover {
  color: #f9552d;
}
header .navigationBlock .navigationBlock_content .navigateBlock_menuBurger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 100%;
  position: relative;
  top: 50%;
}
header .navigationBlock .navigationBlock_content .navigateBlock_menuBurger span {
  width: 100%;
  height: 2.5px;
  background-color: white;
  margin-bottom: 10px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 0 auto;
}
main .main_presentBlock {
  position: relative;
  width: 100%;
  height: 670px;
  min-height: 200px;
}
main .main_presentBlock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_presentBlock .presentBlock_textPart {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 25%;
  min-width: 300px;
}
main .main_presentBlock .presentBlock_textPart .textPart_title h1 {
  font-size: calc(43px + 1.4121338912vw);
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}
main .main_presentBlock .presentBlock_textPart .textPart_title p {
  font-size: calc(26px + 0.5230125523vw);
  color: white;
  text-transform: uppercase;
  line-height: 40px;
}
main .main_presentBlock .presentBlock_textPart .textPart_title p span {
  color: #f9552d;
}
main .main_presentBlock .presentBlock_textPart p {
  margin-bottom: 40px;
  font-size: calc(20px + 0.2092050209vw);
  color: white;
  text-transform: uppercase;
  max-width: 600px;
  line-height: 40px;
}
main .main_aboutUs {
  width: 80%;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
  justify-items: center;
  gap: 20px;
  margin: 150px auto;
}
main .main_aboutUs .aboutUs_imgsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
main .main_aboutUs .aboutUs_imgsBlock img {
  width: 90%;
  max-width: 600px;
  height: 250px;
  min-height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 35px;
  border-radius: 5px;
}
main .main_aboutUs .aboutUs_imgsBlock img:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
main .main_aboutUs .aboutUs_textPart {
  display: block;
  width: 100%;
}
main .main_aboutUs .aboutUs_textPart h2 {
  font-size: calc(37px + 1.0460251046vw);
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 25px;
  position: relative;
}
main .main_aboutUs .aboutUs_textPart h2::before {
  content: "";
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: none;
          transform: none;
  bottom: -9px;
  width: 21%;
  height: 4px;
  background-color: #f9552d;
}
main .main_aboutUs .aboutUs_textPart p {
  font-size: calc(22px + 0.3138075314vw);
  color: #1a1a1a;
  margin-bottom: 35px;
  line-height: 35px;
}
main .main_aboutUs .aboutUs_textPart p span {
  color: #f9552d;
  font-weight: 600;
}
main .main_wrapperOurTrainers {
  background-color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  padding: 50px 0 120px 0;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
main .main_wrapperOurTrainers::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: white;
}
main .main_wrapperOurTrainers h2 {
  font-size: calc(34px + 0.9414225941vw);
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;
}
main .main_wrapperOurTrainers .swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  min-height: 670px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_textPart {
  height: 15%;
  background-color: #f9552d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_textPart h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: calc(23px + 0.3661087866vw);
  color: #4d0000;
  font-weight: 600;
  line-height: 1.2;
  overflow: hidden;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 85%;
  padding: 20px;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart {
  width: 90%;
  height: 100%;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart p {
  font-size: calc(22px + 0.3138075314vw);
  line-height: 30px;
  margin-bottom: 13px;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart p span {
  color: #f9552d;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart ul {
  margin: 15px 0;
  list-style: none;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart ul h4 {
  font-size: calc(23px + 0.3661087866vw);
  margin-bottom: 10px;
  color: #f9552d;
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart ul li {
  line-height: 37px;
  font-size: calc(22px + 0.3138075314vw);
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide .card_aboutTheCoach .aboutTheCoach_textPart ul li::before {
  content: "— ";
}
main .main_wrapperOurTrainers .swiper .swiper-wrapper .swiper-slide:hover .card_aboutTheCoach {
  opacity: 1;
}
main .main_wrapperOurTrainers .main_ourTrainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  width: 90%;
  margin: 0 auto;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 670px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_textPart {
  height: 15%;
  background-color: #f9552d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_textPart h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: calc(23px + 0.3661087866vw);
  color: #4d0000;
  font-weight: 600;
  line-height: 1.2;
  overflow: hidden;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 85%;
  padding: 20px;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart {
  width: 90%;
  height: 100%;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart p {
  font-size: calc(22px + 0.3138075314vw);
  line-height: 30px;
  margin-bottom: 13px;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart p span {
  color: #f9552d;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart ul {
  margin: 15px 0;
  list-style: none;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart ul h4 {
  font-size: calc(23px + 0.3661087866vw);
  margin-bottom: 10px;
  color: #f9552d;
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart ul li {
  line-height: 37px;
  font-size: calc(22px + 0.3138075314vw);
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card .card_aboutTheCoach .aboutTheCoach_textPart ul li::before {
  content: "— ";
}
main .main_wrapperOurTrainers .main_ourTrainers .ourTrainers_listCard .listCard_card:hover .card_aboutTheCoach {
  opacity: 1;
}
main .main_ourCourses {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("imgs/photoForCoursesBlock.webp");
  margin: 0 auto;
  padding: 60px 0;
}
main .main_ourCourses .ourCourses_textPart {
  width: 100%;
  text-align: center;
}
main .main_ourCourses .ourCourses_textPart h2 {
  font-size: calc(37px + 1.0460251046vw);
  font-weight: 600;
  color: white;
  margin-bottom: 13px;
  position: relative;
}
main .main_ourCourses .ourCourses_listCourse {
  width: 90%;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: 40px auto;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem {
  width: 100%;
  height: 580px;
  max-height: 620px;
  border: 5px solid #1a1a1a;
  position: relative;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_nameCourse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 15%;
  background-color: #f9552d;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_nameCourse h2 {
  font-size: calc(23px + 0.3661087866vw);
  color: #4d0000;
  font-weight: 600;
  text-align: center;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_aboutCourse {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_aboutCourse .aboutCourse_textPart {
  width: 92%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_aboutCourse .aboutCourse_textPart h3 {
  font-size: calc(22px + 0.3138075314vw);
  margin-bottom: 15px;
  text-transform: uppercase;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem .elem_aboutCourse .aboutCourse_textPart p {
  font-size: calc(21px + 0.2615062762vw);
  line-height: 36px;
}
main .main_ourCourses .ourCourses_listCourse .listCourse_elem:hover .elem_aboutCourse {
  opacity: 1;
}
main .main_passes {
  width: 90%;
  height: auto;
  margin: 65px auto 90px auto;
}
main .main_passes h2 {
  font-size: calc(37px + 1.0460251046vw);
  color: #1a1a1a;
  text-align: center;
  font-weight: 600;
}
main .main_passes .passes_seasonTicketList {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 70px auto;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 5px solid #1a1a1a;
  min-height: 400px;
  position: relative;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_name {
  width: 100%;
  background-color: #f9552d;
  color: #1a1a1a;
  font-size: calc(22px + 0.3138075314vw);
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_textPart {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_textPart p {
  font-size: calc(21px + 0.2615062762vw);
  color: #1a1a1a;
  line-height: 40px;
  margin-bottom: 10px;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_textPart p span {
  color: #f9552d;
  font-weight: 600;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_textPart p:nth-child(1) {
  font-size: calc(24px + 0.4184100418vw);
  text-align: center;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails {
  background-color: white;
  border-radius: 20px;
  width: 70%;
  min-width: 150px;
  border: 2px solid #f9552d;
  margin: 0px auto 20px auto;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails span {
  font-size: calc(23px + 0.3661087866vw);
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails:hover span::before {
  content: attr(data-text);
  position: absolute;
  color: #1a1a1a;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #f9552d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_buttonDetails:hover::before {
  height: 100%;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  min-width: 300px;
  height: auto;
  padding: 30px;
  background-color: white;
  z-index: 1000;
  border-radius: 5px;
  -webkit-box-shadow: -5px 5px 10px #1a1a1a;
          box-shadow: -5px 5px 10px #1a1a1a;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList .closeModalWindow {
  border: none;
  position: absolute;
  top: 12px;
  left: 94%;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList .closeModalWindow img {
  width: 40px;
  min-width: 20px;
  height: auto;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList h3 {
  color: #f9552d;
  font-size: calc(22px + 0.3138075314vw);
  margin-bottom: 10px;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList li {
  font-size: calc(21px + 0.2615062762vw);
  line-height: 34px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList li::before {
  content: url("imgs/checked.png");
  position: absolute;
  left: 0;
  top: 3px;
}
main .main_contactsAndschedule {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
main .main_contactsAndschedule h2 {
  font-size: calc(28px + 0.6276150628vw);
  color: #1a1a1a;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}
main .main_contactsAndschedule .contactsAndschedule_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart {
  width: 50%;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul {
  margin-bottom: 20px;
  width: 100%;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul h3 {
  color: #f9552d;
  font-size: calc(25px + 0.4707112971vw);
  font-weight: 600;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul li {
  font-size: calc(22px + 0.3138075314vw);
  color: #1a1a1a;
  line-height: 40px;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul li img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  margin-top: 15px;
}
main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul .social img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
main .main_contactsAndschedule .contactsAndschedule_content iframe {
  width: 50%;
  height: 350px;
}
main .main_scrollTop {
  visibility: hidden;
  opacity: 0;
  background-color: #34323a;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 4px;
  position: fixed;
  left: 93%;
  top: 83%;
  -webkit-box-shadow: 2px 2px 7px #1a1a1a;
          box-shadow: 2px 2px 7px #1a1a1a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
main .main_scrollTop.visible {
  visibility: visible;
  opacity: 1;
}

footer {
  width: 100%;
  background-color: #1a1a1a;
}
footer .footer_content {
  width: 50%;
  margin: 0px auto;
  padding: 35px 0;
  text-align: center;
}
footer .footer_content h3 {
  color: white;
  font-size: calc(29px + 0.679916318vw);
  font-weight: 600;
  margin-bottom: 15px;
}
footer .footer_content h3 span {
  color: #f9552d;
}
footer .footer_content .content_listPageNavigation {
  margin: 12px 0;
}
footer .footer_content .content_listPageNavigation li {
  line-height: 43px;
}
footer .footer_content .content_listPageNavigation li a {
  font-size: calc(25px + 0.4707112971vw);
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .footer_content .content_listPageNavigation li a:hover {
  color: #f9552d;
}

@media (max-width: 1710px) {
  .main_ourCourses .ourCourses_listCourse {
    width: 100%;
  }
}
@media (max-width: 1603px) {
  header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 38%;
  }
  header .header_contactsBlock .communicationMethod_socialMedia {
    width: 22%;
  }
  .navigationBlock .navigationBlock_content {
    width: 100%;
  }
  .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
    width: 90%;
  }
}
@media (max-width: 1570px) {
  header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
    width: 50%;
  }
  main .main_aboutUs {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px auto;
  }
  main .main_aboutUs .aboutUs_imgsBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main_aboutUs .aboutUs_imgsBlock img {
    width: 45%;
  }
  main .main_aboutUs .aboutUs_imgsBlock img:nth-child(2) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main .main_aboutUs .aboutUs_textPart {
    width: 80%;
  }
  main .main_aboutUs .aboutUs_textPart h2::before {
    content: "";
    content: "";
    position: absolute;
    left: 0;
    -webkit-transform: none;
            transform: none;
    bottom: -9px;
    width: 20%;
    height: 4px;
    background-color: #f9552d;
  }
}
@media (max-width: 1366px) {
  header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
    width: 60%;
  }
  main .main_contactsAndschedule {
    width: 80%;
  }
  main .main_contactsAndschedule .contactsAndschedule_content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main_contactsAndschedule .contactsAndschedule_content .content_textPart {
    width: 100%;
  }
  main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul .social {
    width: 30%;
  }
  main .main_contactsAndschedule .contactsAndschedule_content iframe {
    width: 100%;
  }
}
@media (max-width: 1149px) {
  header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
    width: 75%;
  }
}
@media (max-width: 1030px) {
  main .main_ourCourses .ourCourses_listCourse {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main_ourCourses .ourCourses_listCourse .listCourse_elem {
    width: 46%;
  }
}
@media (max-width: 920px) {
  header .header_contactsBlock .contactsBlock_content .contactsBlock_communicationMethod {
    width: 25%;
  }
  header .navigationBlock .navigationBlock_content {
    width: 90%;
    margin: 0 auto;
  }
  header .navigationBlock .navigationBlock_content .navigateBlock_pageNavigation {
    display: none;
  }
  header .navigationBlock .navigationBlock_content .navigateBlock_menuBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  main .main_aboutUs .aboutUs_imgsBlock img {
    width: 100%;
  }
  main .main_aboutUs .aboutUs_imgsBlock img:nth-child(2) {
    display: none;
  }
  main .main_ourCourses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main_ourCourses .ourCourses_listCourse {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main_ourCourses .ourCourses_listCourse .listCourse_elem {
    width: 100%;
    height: 430px;
  }
  main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList .closeModalWindow {
    top: 14px;
    left: 85%;
  }
}
@media (max-width: 828px) {
  header .header_contactsBlock {
    display: none;
  }
}
@media (max-width: 675px) {
  main .main_presentBlock {
    height: 470px;
  }
  main .main_presentBlock img {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
  }
  main .main_presentBlock .presentBlock_textPart p {
    line-height: 30px;
  }
}
@media (max-width: 645px) {
  main .main_passes .passes_seasonTicketList .seasonTicketList_card .card_modalWindWithFeatureList .closeModalWindow {
    top: 20px;
    left: 80%;
  }
}
@media (max-width: 510px) {
  main .main_aboutUs {
    width: 90%;
  }
  main .main_aboutUs .aboutUs_imgsBlock {
    width: 100%;
  }
  main .main_aboutUs .aboutUs_imgsBlock img {
    width: 100%;
  }
  main .main_aboutUs .aboutUs_textPart {
    width: 100%;
  }
}
@media (max-width: 396px) {
  main .main_aboutUs .aboutUs_textPart {
    width: 100%;
  }
  main .main_aboutUs .aboutUs_textPart p:nth-child(2) {
    display: none;
  }
  main .main_contactsAndschedule {
    width: 100%;
  }
  main .main_contactsAndschedule h2 {
    text-align: center;
  }
  main .main_contactsAndschedule .contactsAndschedule_content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0 0 0;
  }
  main .main_contactsAndschedule .contactsAndschedule_content .content_textPart {
    width: 90%;
  }
  main .main_contactsAndschedule .contactsAndschedule_content .content_textPart ul .social {
    width: 30%;
  }
  main .main_contactsAndschedule .contactsAndschedule_content iframe {
    width: 100%;
  }
}
@media (max-width: 320px) {
  main .main_presentBlock .presentBlock_textPart {
    top: 4%;
    left: 4%;
  }
  main .main_presentBlock .presentBlock_textPart .textPart_title h1 {
    color: #f9552d;
  }
  main .main_presentBlock .presentBlock_textPart p {
    line-height: 30px;
  }
}